* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --main-color: #DCDCDC;
}

main {
    /* border: 2px solid; */
    width: 95%;
    margin: auto;
}

/* header section */
header {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightsalmon; */
    height: 50px;
}

#header-img {
    height: 100%;
    max-width: 45vw;
    /* padding-left: 20px; */
}

nav {
    /* margin-right: 20px; */
    /* border: 1px solid; */
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    margin-right: 5px;
    list-style-type: none;
}

.nav-link a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: -0.8px;
}

/* form section */
#form {
    min-width: 250px;
    margin: 40px auto 30px auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#form h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#form input[type="email"] {
    height: 2rem;
    width: calc(max-content + 200px);
    display: flex;
    align-items: center;
    padding-left: 7px;
}

#form input[type="submit"] {
    display: block;
    background-color: rgb(255, 185, 46);
    width: 80px;
    height: 2rem;
    font-size: 1.15rem;
}

#feature {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

#inner-feature {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.icons {
    /* border: 1px solid; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.icons .feature-icons {
    height: 50%;
}

.feature-description {
    /* border: 1px solid; */
    padding: 0 20px;
}

.feature-description h4 {
    font-size: 27px;
    /* padding-left: 10px; */
    font-weight: 800;
    margin-bottom: 10px;
}

.feature-description p {
    font-size: 1.05rem;
    line-height: 1.3rem;
}

/* how-it-works section */
#how-it-works {
    margin: 30px auto;
    padding: 20px 0 20px 0;
    /* border: 1px solid; */
}

#yt_video {
    width: 98%;
    height: 250px;
}

/* pricing section */
#pricing {
    /* border: 1px solid; */
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

#pricing .price-sections {
    width: 45%;
    height: 300px;
    /* border: 1px solid; */
    margin-bottom: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.price3 {
    /* border: 3px solid tomato; */
    min-width: 210px;
    max-height: 270px;
}

.price3 .select-button {
    bottom: 1px !important;

}

.price-sections .item-name {
    background-color: rgb(232, 232, 232);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.item-description {
    position: relative;
    /* border: 1px solid; */
    /* background-color: lightblue; */
    height: 83%;
}

.item-description .item-price {
    /* padding-top: 10px; */
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.item-description .item-info {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 17px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.item-description .select-button {
    position: absolute;
    bottom: 20px;
    /* border: 1px solid; */
    /* width: calc((100% - fit-content) + 20px); */
    width: calc(100% - 20px);
    width: calc(50% + 5px);
    height: 2rem;
    margin: auto;
    left: 0;
    right: 0;
    border: 1px solid;
    text-align: center;
    background-color: rgb(255, 174, 0);
}

.item-description .select-button a {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
    header {
        padding: 40px 40px;
    }

    #header-img {
        height: 70px;
    }

    #nav-bar {
        /* border: 1px solid; */
        height: 3rem;
        width: 400px;
    }

    .nav-link a {
        font-size: 1.3rem;
        margin-right: 20px;
    }

    main {
        max-width: 70vw;
    }

    #how-it-works {
        /* border: 3px solid red; */
        height: 500px;
        display: flex;
        justify-content: center;
    }

    #yt_video {
        height: 100%;
        width: 90%;
        margin: auto;
    }
}