* {
    font-family: sans-serif;
}

body {
    background-color: #eee;
}

#header {
    padding: 5px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

#header-img {
    height: 8vh;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin-left: 20px;
}

a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#form {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 50%;
    margin: 20px auto;
}

h3 {
    font-size: 1.5rem;
}

#form input:first-of-type {
    width: 50%;
    height: 2rem;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

#form input:last-of-type {
    box-sizing: border-box;
    background-color: #f1c40f;
    font-size: 1.1rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    width: 30%;
}

#submit:hover {
    box-sizing: border-box;
    outline: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.1s ease;
    background-color: #d1a700;
    box-shadow: 20px 20px 50px 10px rgb(255, 235, 206) inset;
}

#feature {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /* border: 3px solid; */
    gap: 30px;
}

#inner-feature {
    height: 100%;
    width: 100%;
    /* border: 3px dashed; */
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 20px;
}

.icons {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature-icons {
    height: 80px;
}

h4 {
    font-size: 22px;
    width: 100%;
    /* color: red; */
    margin-bottom: -15px;
}


#pricing {
    padding-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* border: 2px solid; */
}

.price-sections {
    height: 390px;
    width: 22%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 3px solid red; */
}

.price-sections .item-name {
    /* border: 1px solid; */
    height: 15%;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.18rem;
    font-weight: bold;
}

.price-sections .item-description {
    /* border: 1px solid; */
    height: 80%;
}

.item-description .item-price {
    /* border: 1px solid; */
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.item-description .item-info {
    /* border: 1px solid; */
    text-align: center;
    padding: 0 50px;
    line-height: 1.5rem;
}

div[class="select-button"] {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

div[class="select-button"] a {
    background-color: rgba(255, 196, 0, 0.861);
    padding: 3px 20px;
}