*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c6f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#drum-machine {
    background-color: #2a658187;
    border-radius: 8px;
    padding: 10px;
    min-height: 300px;
    min-width: 300px;
    height: 40vh;
    width: 40vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#pad-bank {
    width: 90%;
    height: 90%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.drum-pad {
    border: 1px solid;
    border-radius: 10px;
    background-color: #ffda56;
    font-size: 1.8rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor:pointer;
}

#display{
    color: rgb(0, 0, 0);
    background-color: #efff97;
    height: 2rem;
    width: 120px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;    
    font-style: normal;
}